* {
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 50px;
  font-weight: 600;
  color: #834953;
  text-decoration: rgb(242, 161, 188);
}
h2 {
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 50px;
  font-weight: 600;
  color: #79e1dc;
  text-decoration: underline dotted rgb(105, 135, 154);
}

.box {
  width: 450px;
  height: 300px;
  background-color: rgb(251, 251, 251);
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  background-size: cover;
  object-fit: cover;
  cursor: pointer;
}

.box img {
  width: 100%;
  height: 100%;
  transition: transform 2s linear;
  background-size: cover;
}
.content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 50px;
  font-family: "Tangerine", cursive;
  text-decoration: underline 2px rgb(206, 109, 244);
}
.box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./images/flower.jpeg");
  background-size: cover;
  transition: scale(1);
  transition: transform 2s, opacity 2s linear;
  z-index: 1;
  opacity: 1;
}
.box::after {
  position: absolute;
  content: "";
  z-index: 2;
  border: 2px solid #35001d;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: opacity 2s;
  opacity: 0;
}
.box:hover::before {
  transform: scale(1.2);
  opacity: 0.5;
}

.box:hover::after {
  opacity: 1;
}

.box1 {
  width: 450px;
  height: 300px;
  background-color: rgb(251, 251, 251);
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  background-size: cover;
  object-fit: cover;
  cursor: pointer;
}
.box1 img {
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out;
  background-size: cover;
}
.content1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(10, 10, 10);
  font-size: 50px;
  font-style: italic;
  font-family: "MonteCarlo", cursive;
  text-decoration: underline solid rgb(20, 19, 19);
}
.box1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("./images/birds.webp");
  background-size: cover;
  transition: scale(1);
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  z-index: 1;
  opacity: 1;
}
.box1::after {
  position: absolute;
  content: "";
  z-index: 2;
  background-color: rgbh(0, 0, 0, 1);
  border: 4px solid rgb(224, 230, 239);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(-45deg);
  transition: opacity 2s ease-in-out;
  opacity: 0;
}
.box1:hover::before {
  transform: scale(1.1);
  opacity: 0.5;
}

.box1:hover::after {
  opacity: 1;
}
h3 {
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 50px;
  font-weight: 700;
  text-decoration: underline dotted;
}
.box3 {
  width: 450px;
  height: 150px;
  background-color: #f2f7f6;
  margin: 20px auto;
  position: relative;
  border: 2px solid gray;
}
.title1 {
  text-align: center;
  font-family: "Tangerine", cursive;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line1 {
  position: absolute;
  width: 90px;
  height: 2px;
  background-color: crimson;
  top: 100px;
  left: 40%;
  align-items: center;
}
.line2 {
  position: absolute;
  width: 30px;
  height: 6px;
  background-color: crimson;
  left: 33%;
  align-items: center;
  top: -2px;
}
.box4 {
  width: 450px;
  height: 150px;
  background-color: #f2f7f6;
  margin: 20px auto;
  position: relative;
  cursor: pointer;
  border: 2px solid gray;
}
.title2 {
  font-family: "Cookie", cursive;
  margin-top: 10px;
  text-align: left;
  font-size: 30px;
  color: crimson;
  letter-spacing: 2px;
  margin-left: 10px;
}
.title2 span {
  margin-top: 10px;
  display: block;
  color: grey;
  font-size: 15px;
  letter-spacing: 2px;
}
.line3::before {
  width: 50px;
  height: 3px;
  content: "";
  position: absolute;
  top: 65%;
  margin-left: 10px;
  background-color: black;
  opacity: 0.5;
}
.line4::after {
  width: 50px;
  height: 3px;
  content: "";
  position: absolute;
  top: 65%;
  margin-left: 60px;
  background-color:crimson;
  opacity: 0.5;
}
.line3:hover::before {
  opacity: 1;
}
.line4:hover::after {
  opacity: 1;
}

h4 {
  text-align: center;
  font-family: "Tangerine", cursive;
  color: #131212;
  font-size: 50px;
  text-decoration: underline dotted rgb(78, 76, 76);
}
.boton
{
  margin-top: 15px;
  margin-left: 45.3%;
  padding: 15px 30px;
  background-color: #000000;
  border: 3px solid gray;
  font-size:100%;
  color: #f2f7f6;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}
.boton::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:radial-gradient (rgba(255, 255, 255, 0.082));
  transform: scale(1);
  transition: transform 0.3s ease-in;
}
.boton:hover
{
  transform: scale(1.1);
  border-color:black;
  background:gray;
}
.button
{
  display: block;
  margin-top: 50px;
  margin-left: 44%;
  padding: 12px 24px;
  border-color: crimson;
  font-size: 19px;
  color: #030303;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
  bottom: 20px;
}
.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 140%;
  height: 180%;
  display: block;
  transition: all ease-in-out;
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  background-color: #39bda7;
  width: 160%;
  height: 190%;
  display: block;
  transition: all ease-in-out;
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border:2px solid #030303;
}

.button:hover:before {
  background-color: #39bda7;
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
}